@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* SIDEBAR */
    --background-color: hsl(201, 79%, 46%);
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template: 150px 1fr / 300px 1fr;
    height: 100vh;
}

header {
    grid-column: 2 / 3;
    border: 2px solid black;
}

nav {
    grid-row: 1 / 3;
    background-color: var(--background-color);
    padding: 20px;
    color: white;
    display: grid;
    grid-template: 60px 270px 1fr 1fr / 1fr;
}

nav li {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

nav a {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: hsl(0, 0%, 80%);
}

nav svg {
    width: 24px;
    fill: white;
}