@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* MAIN COLOR */
    --grey: hsl(214, 32%, 91%);
    /* SIDEBAR */
    --background-color: hsl(201, 79%, 46%);

}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 150px 1fr / 300px 1fr;
    height: 100vh;
}

header {
    grid-column: 2 / 3;
    border: 2px solid black;
    display: grid;
    grid-template: 40% 60% / 1fr;
    padding: 15px 30px;
}

.header_search_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_search_bar form {
    display: flex;
    gap: 10px;
}

.header_search_bar form button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    height: 24px;
}

.header_search_bar form button:hover {
    cursor: pointer;
}

.header_search_bar svg {
    height: 24px;
}

.header_search_bar form input[type="search"] {
    border: none;
    border-radius: 10px;
    background-color: var(--grey);
    height: 24px;
    width: 700px;
    padding-left: 10px;
}

nav {
    grid-row: 1 / 3;
    background-color: var(--background-color);
    padding: 20px;
    color: white;
    display: grid;
    grid-template: 60px 270px 1fr 1fr / 1fr;
}

nav li {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

nav a {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: hsl(0, 0%, 80%);
}

nav svg {
    width: 24px;
    fill: white;
}