@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* MAIN COLOR */
    --grey: hsl(214, 32%, 91%);
    --orange: #f0b429;
    /* SIDEBAR */
    --background-color: hsl(201, 79%, 46%);

}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 150px 1fr / 300px 1fr;
    height: 100vh;
}

header {
    grid-column: 2 / 3;
    display: grid;
    grid-template: 35% calc(65% - 10px) / 1fr;
    padding: 15px 30px;
    gap: 10px;
}

.header_search_bar {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.header_search_bar form {
    display: flex;
    gap: 10px;
}

.header_search_bar form button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    height: 24px;
}

.header_search_bar form button:hover {
    cursor: pointer;
}

.header_search_bar svg {
    height: 30px;
}

.header_search_bar form input[type="search"] {
    border: none;
    border-radius: 15px;
    background-color: var(--grey);
    height: 30px;
    width: 400px;
    padding-left: 10px;
}

.profile {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.profile img {
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile p {
    font-weight: bold;
    font-size: 1.1rem;
}

.header_user_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_info {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.user_info img {
    object-fit: cover;
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.user_info p{
    font-weight: bold;
}

.user_info p.name {
    margin-top: 5px;
    font-size: 1.5rem;
}

.user_info_buttons {
    display: flex;
    gap: 20px;
}

.user_info_buttons button {
    background-color: var(--background-color);
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    width: 80px;
}

nav {
    grid-row: 1 / 3;
    background-color: var(--background-color);
    padding: 20px 30px;
    color: white;
    display: grid;
    grid-template: 60px 270px 1fr 1fr / 1fr;
}

nav li {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

nav a {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: hsl(0, 0%, 80%);
}

nav svg {
    width: 24px;
    fill: white;
}

main {
    box-shadow: 0 1px 10px 1px hsl(0, 0%, 80%) inset;
    display: grid;
    grid-template: 30px 1fr 30px 1fr / 3fr 1fr;
    background-color: var(--grey);
    padding: 20px;
    gap: 20px;
}

main > p {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.projects {
    grid-area: 2 / 1 / 5 / 2;
    display: grid;
    grid-template: 200px / 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 20px;
}

.projects > div {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 10px solid var(--orange);
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0 1px 10px 1px hsl(0, 0%, 80%);
}

.project_title {
    font-weight: bold;
}

.project_description {
    flex: 1;
    color: hsl(0, 0%, 50%);
}

.project_options {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
}

.project_options svg {
    height: 30px;
}

.announcement_header {
    grid-area: 1 / 2 / 2 / 3;
}

.announcement_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr / 1fr;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 1px 10px 1px hsl(0, 0%, 80%);
}

.announcement_container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcement_container > div:not(:last-child) {
    border-bottom: 1px solid hsl(0, 0%, 80%);
}

.announcement_title {
    font-weight: bold;
    font-size: 0.9rem;
}

.announcement_description {
    font-size: 0.9rem;
    color: hsl(0, 0%, 50%);
}

.trending_header {
    grid-area: 3 / 2 / 4 / 3;
}

.trending_container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 10px 1px hsl(0, 0%, 80%);
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
}

.trending_container > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.trending_container div div {
    display: flex;
    flex-direction: column;
}

.trending_container div img {
    object-fit: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.username {
    font-weight: bold;
}

.motto {
    color: hsl(0, 0%, 50%);
}