@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* MAIN COLOR */
    --grey: hsl(214, 32%, 91%);
    /* SIDEBAR */
    --background-color: hsl(201, 79%, 46%);

}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 150px 1fr / 300px 1fr;
    height: 100vh;
}

header {
    grid-column: 2 / 3;
    display: grid;
    grid-template: 35% calc(65% - 10px) / 1fr;
    padding: 15px 30px;
    box-shadow: 0 1px 10px 1px hsl(0, 0%, 70%);
    gap: 10px;
}

.header_search_bar {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.header_search_bar form {
    display: flex;
    gap: 10px;
}

.header_search_bar form button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    height: 24px;
}

.header_search_bar form button:hover {
    cursor: pointer;
}

.header_search_bar svg {
    height: 30px;
}

.header_search_bar form input[type="search"] {
    border: none;
    border-radius: 15px;
    background-color: var(--grey);
    height: 30px;
    width: 400px;
    padding-left: 10px;
}

.profile {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.profile img {
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile p {
    font-weight: bold;
    font-size: 1.1rem;
}

.header_user_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_info {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.user_info img {
    object-fit: cover;
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.user_info p{
    font-weight: bold;
}

.user_info p.name {
    margin-top: 5px;
    font-size: 1.5rem;
}

.user_info_buttons {
    display: flex;
    gap: 20px;
}

.user_info_buttons button {
    background-color: var(--background-color);
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    width: 80px;
}

nav {
    grid-row: 1 / 3;
    background-color: var(--background-color);
    padding: 20px 30px;
    color: white;
    display: grid;
    grid-template: 60px 270px 1fr 1fr / 1fr;
}

nav li {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

nav a {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: hsl(0, 0%, 80%);
}

nav svg {
    width: 24px;
    fill: white;
}